/* You can add global styles to this file, and also import other style files */
.delete-icon {
    color: red;
    cursor: pointer;
    margin-left: 10px;
    float: right;
  }
  .delete-icon:hover {
    color: darkred;
  }
  